# Ignore Python bytecode files and caches
__pycache__/
*.py[cod]

# Ignore macOS system files
.DS_Store

# Ignore VTP files and their folders
*_neurons_vtp/
*.vtp

# Ignore Paraview state files
*.pvsm